<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/angularjs/lib/bootstrap.css">
    <link rel="stylesheet" href="/angularjs/lib/bootstrap-theme.css">
    <script src="/angularjs/lib/angular.js"></script>
    <script>
        app = angular.module("exampleApp", []);
        app.controller("SimpleController", function($scope){

            $scope.addresses = {};

            $scope.setAddress = function (type, zip){
                console.log("Type: " + type + " " + zip);
                $scope.addresses[type] = zip;
            };

            $scope.copyAddress = function () {
                $scope.shippingZip = $scope.billingZip;
            };
        });
    </script>
</head>
<body ng-controller="SimpleController">
    <div class="well">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="billingZip">
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip', billingZip)">
            Save Billing
        </button>
    </div>
    <div class="well">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="shippingZip">
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing
        </button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip', shippingZip)">
            Save Shipping
        </button>
    </div>
</body>
</html>