<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Controllers</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/angularjs/lib/bootstrap.css">
    <link rel="stylesheet" href="/angularjs/lib/bootstrap-theme.css">
    <script src="/angularjs/lib/angular.js"></script>
    <script>
        app = angular.module("exampleApp", []);

        app.service("ZipCodes", function($rootScope){
            return {
                setZipCode: function (type, zip){
                    this[type] = zip;
                    $rootScope.$broadcast("zipCodeUpdated", {type: type, zipCode: zip});
                }
            };
        });

        app.service("Data", function ($scope){
            data = {};
            return {
                set:    function (name, value) {
                    data[name] = value;
                },
                get:    function (name) {
                    return data[name];
                }
            };
        });

        app.controller("SimpleController", function($scope, ZipCodes, Data){

            $scope.$on("zipCodeUpdated", function (event, args){
                $scope[args.type] = args.zipCode;
            });

            $scope.setAddress = function (type, zip){
                ZipCodes.setZipCode(type, zip);
                Data.set(type, zip);
                console.log("Type: " + type + " " + zip);
            };

            $scope.copyAddress = function () {
                //$scope.zip = $scope.billingZip;
                $scope.zip = Data.get('billingZip');
            };
        });
    </script>
</head>
<body>
    <div class="well" ng-controller="SimpleController">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">
            Save Billing
        </button>
    </div>
    <div class="well" ng-controller="SimpleController">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip">
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing
        </button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">
            Save Shipping
        </button>
    </div>
</body>
</html>